opencv-python
numpy
ultralytics
torch
streamlit
fastapi
uvicorn
pandas
matplotlib
pillow
bcrypt
google-auth
requests
email-validator
python-jose
chromadb
sentence-transformers
python-dotenv
SQLAlchemy
pypdf
python-docx
groq